<!-- <div *ngFor="let alert of alerts" class="{{cssClass(alert)}}">
    <span [innerHTML]="alert.message"></span>
    <button class="btn-close" (click)="removeAlert(alert)"></button>
</div> -->

<div class="popup">
    <div class="popup_overlay flex_center">
        <div [ngClass]="['popup_container', data.typeClass]">

            <div class="popup_header flex_center">
                <h3></h3>
                <a class="closepopup" [mat-dialog-close]="false" ><img src="assets/Site_Images/close.svg" alt=""></a>
            </div>

            <div class="popup_content">

                <div class="contentdata_popup">
                    <p innerHTML="{{ data.message | translate}}"></p>
                </div>
                <div  class="button_group" >
                    <button  class="back_primary" [mat-dialog-close]="false" cdkFocusInitial>{{'no' | translate}}</button>
                    <button class="back_primary" [mat-dialog-close]="true" cdkFocusInitial>{{'yes' | translate}}</button>
                </div> 
            </div>

        </div>
    </div>
</div>