<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="JsonFilesPath" value="D:\JsonFiles" />
		<add key="MaxFilesPerDay" value="100" />
		<add key="MaxUniqueDrivers" value="30" />
		<add key="MaxDrivingHoursPerDay" value="12" />
		<add key="MaxDrivingHoursPerWeek" value="60" />		
	</appSettings>
</configuration>