<div class="section_body">
  <div class="contentBody">
      <div class="subTi_reTa">
          <div class="subtitle">
              <p>week Drive Time Violations</p>
          </div>
      </div>

      <div class="table_desc wishlist" id="table">
          <div class="table-responsive">
              <table>
                  <thead>
                      <tr>
                          <th class="product_table">driver</th>
                          <th class="product_table">Total Drive Hours</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let Item of DriversData">
                          <td class="product_table">{{Item.driver}}</td>
                          <td class="product_table">{{Item.total_drive_hours}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>