<div class="menu-toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
</div>
<div class="headBody">
    <div class="welcomeTitle_notfication">
        <div class="welcomeTitle">
            <h2>{{'welcome' | translate}} {{Email}}</h2>
        </div>
    </div>

    <div class="profile">
        <div class="imgProfile">
            <img src="assets/Site_Images/profileIcon.svg" alt="">
        </div>
        <div class="profileData">
            <p>{{Email}}</p>
        </div>
    </div>
</div>