
.notification-button {
    background: none;
    border: none;
    cursor: pointer;
}

.notification-dropdown {
    display: grid;
    top: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 200px;
    z-index: 10;
}